@model List<Portfolio.ViewModels.SaveCaseStudyViewModel>
  @using Portfolio.ViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="acms-header">
  <div class="acms-header-left">
    <span class="acms-breadcrumb">ADMIN // CASE_STUDIES</span>
    <h1 class="acms-page-title">CaseStudy_Log</h1>
    <p>No of Items: @Model.Count</p>
  </div>

    <form asp-route="CasetStudyPage" method="post">
        <button type="submit" class="acms-btn-primary">
            <span class="btn-icon">+</span> NEW_CASE_STUDY
        </button>
    </form>
</div>


<div class="exp-admin-list">
@if (!Model.Any())
{
  <div class="acms-empty">
    <span class="empty-code">[ NULL ]</span>
    <p>No case studies found.</p>
  </div>
}

@foreach (var c in Model)
{
  <div class="exp-admin-card">

    <div class="exp-admin-card__period">
      @c.Id
    </div>

    <div class="exp-admin-card__main">
      <div class="exp-admin-card__role">@c.Title</div>

      <p class="exp-admin-card__desc">
        @(c.Summary.Length > 120 
          ? c.Summary.Substring(0,120) + "..." 
          : c.Summary)
      </p>

      
    </div>

    <div class="exp-admin-card__actions">
      <button class="acms-btn-icon"
        onclick='openPanel(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(c)))'>
        ✦ EDIT
      </button>

      <form asp-action="DeleteCaseStudy"
            asp-controller="Admin"
            asp-area="Admin"
            method="post"
            onsubmit="return confirm('Delete this case study?')">

        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@c.Id" />
        <button type="submit" class="acms-btn-icon acms-btn-icon--danger">
          ⊗ DELETE
        </button>
      </form>
    </div>

  </div>
}
</div>